<style>
  .my-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: {{ section.settings.header_height }}px;
    align-items: center;
    text-align: center;
    background: {{ section.settings.bg_color }};
    color: black;
    border-radius: 5px;
  }

.header__heading-link {
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  word-break: break-word;
}

.header__heading-link:hover .h2 {
  color: rgb(var(--color-foreground));
}

.header__heading-link .h2 {
  line-height: 1;
  color: rgba(var(--color-foreground), 0.75);
}

.header__heading-logo {
  height: auto;
  width: 100%;
}
  .link{
    cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  color: rgb(var(--color-link));
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
    align-items: center;
    
  }
  .nav-bar{
    width: 100%;
  }
  .my-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-nav-item{
    display: inline-block;
    margin: 0 1rem;
  }
  .my-nav-item a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: all .5s ease;
  }
  .nav-bar ul li a:hover{
    color: blue;
  }
   .nav-bar ul li a:active{
    color: green;
    text-decoration: underline;
  }
  
    
</style>

<header class="my-header">
  <a href="{{ routes.root_url }}" class="nav-logo">
          {% if section.settings.logo != blank %}
            <img srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
              src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% else %}
            <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
  
  <div class='navbar'>
    <nav class="nav-bar">
      <ul class="my-nav-list">
        {% for link in section.settings.header_menu.links %}
        {% if link.links != blank %}
        Dropdown Menu
        {% else %}
        <li class="my-nav-item"><a class="{% if link.current %}active {%endif%}" href="{{link.url}}">{{link.title}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  
  </div>
  <div class="icon-list">
    <div class="search-bar">this is search bar</div>
    <div class="shopping-icon">this is shopping icon</div>
   </div>
</header>

{% schema %}
  {
    "name": "Custom Header",
    "settings": [
		{
             "type": "color",
             "id": "bg_color",
             "label": "Header Background Color",
             "default": "#8f94fb"
         },
		 {
              "type": "range",
              "id": "header_height",
              "min": 65,
              "max": 85,
              "step": 1,
              "unit": "px",
              "label": "Header Height",
              "default": 75
          },
		  {
              "type": "image_picker",
              "id": "logo",
              "label": "t:sections.header.settings.logo.label"
            },
            {
              "type": "range",
              "id": "logo_width",
              "min": 50,
              "max": 250,
              "step": 10,
              "default": 100,
              "unit": "t:sections.header.settings.logo_width.unit",
              "label": "t:sections.header.settings.logo_width.label"
            },
			{
          "type": "link_list",
          "id": "header_menu",
          "label": "Menu",
			"default": "main-menu"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
