<style>
  .my-header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    height: {{ section.settings.header_height }}px;
    align-items: center;
    text-align: center;
    background: {{ section.settings.bg_color }};
    color: black;
    border-radius: 5px;
  }

.header__heading-link {
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  word-break: break-word;
}

.header__heading-link:hover .h2 {
  color: rgb(var(--color-foreground));
}

.header__heading-link .h2 {
  line-height: 1;
  color: rgba(var(--color-foreground), 0.75);
}

.header__heading-logo {
  height: auto;
  width: 100%;
}
  .link{
    cursor: pointer;
  display: inline-block;
  border: none;
  box-shadow: none;
  color: rgb(var(--color-link));
  background-color: transparent;
  font-size: 1.4rem;
  font-family: inherit;
    align-items: center;
    
  }
  .nav-bar{
    width: 100%;
  }
  .my-nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .my-nav-item{
    display: inline-block;
    margin: 0 1rem;
  }
  .my-nav-item a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding: 10px;
    transition: all .5s ease;
  }
  .nav-bar ul li a:hover{
    color: blue;
  }
   .nav-bar ul li a:active{
    color: green;
    text-decoration: underline;
  }
  menu-drawer + .header__search {
  display: none;
}

.header > .header__search {
  grid-area: left-icon;
  justify-self: start;
}

.header:not(.header--has-menu) * > .header__search {
  display: none;
}

.header__search {
  display: inline-flex;
  line-height: 0;
}

.header--top-center > .header__search {
  display: none;
}

.header--top-center * > .header__search {
  display: inline-flex;
}

@media screen and (min-width: 990px) {
  .header:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: inline-flex;
  }

  .header:not(.header--top-center) > .header__search,
  .header--top-center * > .header__search {
    display: none;
  }
}

.no-js .predictive-search {
  display: none;
}

details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
}

details[open] .modal-overlay {
  display: block;
}

details[open] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: rgb(var(--color-foreground), 0.5);
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}

.no-js details[open] > .header__icon--search {
  top: 1rem;
  right: 0.5rem;
}

.search-modal {
  opacity: 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  min-height: calc(100% + var(--inputs-margin-offset) + (2 * var(--inputs-border-width)));
  height: 100%;
}

.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 1rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  position: relative;
}

.search-modal__content-bottom {
  bottom: calc((var(--inputs-margin-offset) / 2) );
}

.search-modal__content-top {
  top: calc((var(--inputs-margin-offset) / 2) );
}

.search-modal__form {
  width: 100%;
}

.search-modal__close-button {
  position: absolute;
  right: 0.3rem;
}

@media screen and (min-width: 750px) {
  .search-modal__close-button {
    right: 1rem;
  }

  .search-modal__content {
    padding: 0 6rem;
  }
}

@media screen and (min-width: 990px) {
  .search-modal__form {
    max-width: 47.8rem;
  }

  .search-modal__close-button {
    position: initial;
    margin-left: 0.5rem;
  }
}
  
    
</style>

<header class="my-header">
  <a href="{{ routes.root_url }}" class="nav-logo">
          {% if section.settings.logo != blank %}
            <img srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
              src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% else %}
            <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
  
  <div class='navbar'>
    <nav class="nav-bar">
      <ul class="my-nav-list">
        {% for link in section.settings.header_menu.links %}
        {% if link.links != blank %}
        Dropdown Menu
        {% else %}
        <li class="my-nav-item"><a class="{% if link.current %}active {%endif%}" href="{{link.url}}">{{link.title}}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  
  </div>
  <div class="icon-list">
    <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                  <div class="field">
                    <input class="search__input field__input"
                      id="Search-In-Modal-1"
                      type="search"
                      name="q"
                      value=""
                      placeholder="{{ 'general.search.search' | t }}"
                      {%- if settings.predictive_search_enabled -%}
                        role="combobox"
                        aria-expanded="false"
                        aria-owns="predictive-search-results-list"
                        aria-controls="predictive-search-results-list"
                        aria-haspopup="listbox"
                        aria-autocomplete="list"
                        autocorrect="off"
                        autocomplete="off"
                        autocapitalize="off"
                        spellcheck="false"
                      {%- endif -%}
                    >
                    <label class="field__label" for="Search-In-Modal-1">{{ 'general.search.search' | t }}</label>
                    <input type="hidden" name="options[prefix]" value="last">
                    <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                      <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                        <use href="#icon-search">
                      </svg>
                    </button>
                  </div>

                  {%- if settings.predictive_search_enabled -%}
                    <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                      <div class="predictive-search__loading-state">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                  {%- endif -%}
                </form>
   </div>
</header>
{% schema %}
  {
    "name": "Custom Header",
    "settings": [
		{
             "type": "color",
             "id": "bg_color",
             "label": "Header Background Color",
             "default": "#8f94fb"
         },
		 {
              "type": "range",
              "id": "header_height",
              "min": 65,
              "max": 85,
              "step": 1,
              "unit": "px",
              "label": "Header Height",
              "default": 75
          },
		  {
              "type": "image_picker",
              "id": "logo",
              "label": "t:sections.header.settings.logo.label"
            },
            {
              "type": "range",
              "id": "logo_width",
              "min": 50,
              "max": 250,
              "step": 10,
              "default": 100,
              "unit": "t:sections.header.settings.logo_width.unit",
              "label": "t:sections.header.settings.logo_width.label"
            },
			{
          "type": "link_list",
          "id": "header_menu",
          "label": "Menu",
			"default": "main-menu"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
