<style>
  .my-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: {{ section.settings.header_height }}px;
    align-items: center;
    text-align: center;
    background: {{ section.settings.bg_color }};
    color: black;
    border-radius: 5px;
  }
</style>

<header class="my-header">
  <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
          {% if section.settings.logo != blank %}
            {%- assign image_size_2x = section.settings.logo_width | times: 2 | at_most: 5760 -%}
            <img srcset="{{ section.settings.logo | image_url: width: section.settings.logo_width }} 1x, {{ section.settings.logo | image_url: width: image_size_2x }} 2x"
              src="{{ section.settings.logo | image_url: width: section.settings.logo_width }}"
              loading="lazy"
              class="header__heading-logo"
              width="{{ section.settings.logo.width }}"
              height="{{ section.settings.logo.height }}"
              alt="{{ section.settings.logo.alt | default: shop.name | escape }}"
            >
          {% else %}
            <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
  <div class="navbar">This is navbar</div>
  <div class="icon-list">
    <div class="search-bar">this is search bar</div>
    <div class="shopping-icon">this is shopping icon</div>
   </div>
</header>

{% schema %}
  {
    "name": "Custom Header",
    "settings": [
		{
             "type": "color",
             "id": "bg_color",
             "label": "Header Background Color",
             "default": "#8f94fb"
         },
		 {
              "type": "range",
              "id": "header_height",
              "min": 65,
              "max": 85,
              "step": 1,
              "unit": "px",
              "label": "Header Height",
              "default": 75
          },
		  {
              "type": "image_picker",
              "id": "logo",
              "label": "t:sections.header.settings.logo.label"
            },
            {
              "type": "range",
              "id": "logo_width",
              "min": 50,
              "max": 250,
              "step": 10,
              "default": 100,
              "unit": "t:sections.header.settings.logo_width.unit",
              "label": "t:sections.header.settings.logo_width.label"
            }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
