<style>
  .mycls{
  	font-size: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    width: 100vw;
    height:3rem;
    transition: all .5s linear;
    border-radius: 5px;
  }
  .mychildcls{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    animation: scrolling-bar 10s linear infinite;
  }
  @keyframes scrolling-bar{
    0%{
      transform: translatex(100%)
    }
    100%{
      transform: translatex(-100%)
    }
  }
  .bg-gradient{
  	background: {{ section.settings.background }};
    color: {{ section.settings.bg_gradient }};
  }
  .bg-solid{
    background: {{ section.settings.bg_solid }};
    color: {{ section.settings.text_color }};
  }
    
</style>


{% for block in section.blocks %}
<div class="mycls {% if block.settings.show_gradient %}bg-gradient {% else %} bg-solid {% endif %}">
{% if block.settings.show_animation %}
    {%if block.settings.announcement_text != blank %}
    <div class="mychildcls">
      {{block.settings.announcement_text|upcase}}
    </div>
   {% endif %}
    {%if block.settings.announcement_text != blank %}
    <div class="mychildcls">
      {{block.settings.announcement_text2|upcase}}
    </div>
   {% endif %}
    {%if block.settings.announcement_text != blank %}
    <div class="mychildcls">
      {{block.settings.announcement_text3|upcase}}
    </div>
   {% endif %}
  {% else %}
  {{block.settings.announcement_text|upcase}}
{% endif %}
</div>

{% endfor %}

{% schema %}
  {
    "name": "Custom Announcement",
    "settings": [
			{
              "type": "color",
              "id": "text_color",
              "label": "Announcement Text Color",
              "default": "#3C3B3F"
            },
			{
              "type": "color",
              "id": "bg_solid",
              "label": "Solid Background Color",
              "default": "#8f94fb"
            },
			{
              "type": "color",
              "id": "bg_gradient",
              "label": "Gradient Text Color",
              "default": "#E9E4F0"
            },
			{
              "type": "color_background",
              "id": "background",
              "label": "Gradient Background",
              "default": "linear-gradient(#a8c0ff, #3f2b96)"
            }
		],
		"blocks":[
				{
					"type":"announcement",
					"name": "Announcement Bar",
					"settings":[
						{
                          "type": "checkbox",
                          "id": "show_gradient",
                          "label": "Show Gradient Color Background",
                          "default": false
                        },
						{
                          "type": "checkbox",
                          "id": "show_animation",
                          "label": "Show animation for announcement bar",
                          "default": false
                        },
						{
                          "type": "text",
                          "id": "announcement_text",
                          "label": "Announce Bar Text",
                          "default": "Welcome to store"
                        },
                        {
                          "type": "text",
                          "id": "announcement_text2",
                          "label": " Second Announce Bar Text for Animation",
                          "default": "50% off"
                      },
                      {
                          "type": "text",
                          "id": "announcement_text3",
                          "label": "Third Announce Bar Text for Animation",
                          "default": "summer salse"
                      }
					]
				}
			]
  }
{% endschema %}

